<form class="login-form">
  <input type="text" placeholder="username" class="u-mr-1" />
  <input type="text" placeholder="password" class="u-mr-1" />
  <button type="button" (click)="signUp()">LOGIN</button>
</form>

<div class="signup-form__container">
  <form class="signup-form">
    <div class="form-control">
      <label for="name">Name:</label>
      <input type="text" id="name" />
    </div>
    <div class="form-control">
      <label for="email">Email:</label>
      <input type="text" id="email" />
    </div>
    <div class="form-control">
      <label for="username_new">Username:</label>
      <input type="text" id="username_new" />
    </div>
    <div class="form-control">
      <label for="password_new">Password:</label>
      <input type="password" id="password_new" />
    </div>
    <div class="btn-container">
      <button type="button" class="signup-btn">SIGNUP</button>
    </div>
  </form>
</div>
